<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>币币交易-成交记录</title>
	<script type="text/javascript" src="../../static/layui.js"></script>
	<link rel="stylesheet" href="../../static/admin.css" media="all">
</head>
<body>
	<div class="layui-tab-item layui-show">
		<form class="layui-form layui-form-pane" action="">
			<div class="layui-form-item layui-inline">
				<label class="layui-form-label time">时间</label>
				<div class="layui-input-inline time">
					<select id="time" name="time">
						<option value="">请选择</option>
						<option value="0" selected="">今天</option>
						<option value="1">昨天</option>
						<option value="2">明天</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item layui-inline">
				<div class="layui-input-inline time_range">
					<input type="text" name="date" id="date_range" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item layui-inline">
				<label class="layui-form-label user_id"><span style="color: red;">*</span>用户ID</label>
				<div class="layui-input-inline">
					<input type="text" id="id" name="name" lay-verify="name" placeholder="用户ID" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item layui-inline">
				<label class="layui-form-label display_select_more">币对选择：</label>
				<div class="layui-input-inline" style="width: 200px;">
					<select xm-select="select_more" name="carrucy">
						<option value="">全部</option>
						<option value="0">BTC</option>
						<option value="1">ETH</option>
						<option value="2">EOS</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item layui-inline more_options">
				<button class="layui-btn layui-btn-normal btn_search">查询</button>
				<button class="layui-btn layui-btn-primary btn_export">导出</button>
			</div>
		</form>
		<!-- url:'/demo/table/user/' -->
		<table id="table_id" class="layui-table" lay-data="{height: '450', cellMinWidth: 80, page: true, limit:10, url:'../../static/json/test.json'}">
		  <thead>
		    <tr>
		      <th lay-data="{field:'test1', width:80, sort: true}">序号</th>
		      <th lay-data="{field:'test2', width:180}">成交单id</th>
		      <th lay-data="{field:'test3', width:80}">品种</th>
		      <th lay-data="{field:'test4', width:80}">类型</th>
		      <th lay-data="{field:'test5'}">方向</th>
		      <th lay-data="{field:'test6', width:180}">成交价格</th>
		      <th lay-data="{field:'test7', width:80}">成交量</th>
		      <th lay-data="{field:'test8', width:180}">成交时间</th>
		      <th lay-data="{field:'test9', width:135}">成交金额</th>
		      <th lay-data="{field:'test10', width:135}">订单状态</th>
		      <th lay-data="{field:'test11', width:135}">流动性</th>
		      <th lay-data="{field:'test12', width:135}">手续费</th>
		      <th lay-data="{field:'test13', width:135}">对手ID</th>
		      <th lay-data="{field:'test14', width:135}">下单ID</th>
		      <th lay-data="{field:'test15', width:135}">下单时间</th>
		      <th lay-data="{field:'test16', width:135}">下单价格</th>
		      <th lay-data="{field:'test17', width:135}">下单数量</th>
		    </tr>
		  </thead>
		</table>
	</div>

<script type="text/javascript">
	layui.config({
		base: '../../static/lay/modules/'
	}).extend({
		formSelects: 'formSelects'
	})
	layui.use(['jquery', 'layer', 'element', 'form', 'laydate', 'table', 'laypage', 'formSelects'], function(){
		let $ = layui.$,
			layer = layui.layer,
			element = layui.element,
			form = layui.form,
			laydate = layui.laydate,
			table = layui.table,
			laypage = layui.laypage,
			formSelects = layui.formSelects;

		//日期
		laydate.render({
			elem: '#date_range',
			range: true,
			type: 'datetime',
			// 设置默认值
			// value: '2018-12-10 11:11:11 - 2018-12-15 11:18:12',
			done: function(value, date){
				let type = date.year;
			    // 禁用select
			    if (!!type) {
			    	$('#time').attr('disabled', 'disabled');
					form.render('select');
			    } else {
			    	$('#time').removeAttr('disabled');
					form.render('select');
			    }
			}
		});

		// 多选
		formSelects.render('select_more');
		formSelects.btns('select_more', []);

		$(function () {
			// 更改table的header颜色
			$('.layui-form').find('th').each(function(i, el) {
				if ($(el).data('field') == 'test9' || $(el).data('field') == 'test10') {
					$(el).addClass('dialog_red')
				}
			});
			// 查询
			$('.btn_search').on('click', function(event) {
				event.preventDefault();
				// 存储搜索条件
				let storage = {time: $('#date_range').val() || $('#time').val(), id: $('#id').val()};
			    window.sessionStorage.setItem('storage', JSON.stringify(storage));

		      	table.reload('table_id', {
			        page: {
			          curr: 1 //重新从第 1 页开始
			        }
			        ,where: {
			          time: $('#time').val(), // 时间
			          id: $('#id').val() // 用户id
			        }
		      	});
			});
			// 重写排序
			table.on('sort', function(obj){ 
			  table.reload('table_id', {
			    initSort: obj
			    ,page: {
		          curr: 1 //重新从第 1 页开始
		        }
			    ,where: {
			      field: obj.field  // 排序的name
			      ,order: obj.type  // 排序的类型 ，asc向上、desc向下
			      ,time: $('#time').val()  // 时间
		          ,id: $('#id').val()  // 用户id
			    }
			  });
			});

			// 导出
			$('.btn_export').on('click', function(event) {
				event.preventDefault();

			});
		})

	})
</script>

</body>
</html>