<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>审核列表详情</title>
    <script type="text/javascript" src="../../../static/layui.js"></script>
    <link rel="stylesheet" href="../../../static/admin.css" media="all">
</head>
<body class="frame_padding">
	<!-- 标题 -->
	<fieldset class="layui-elem-field layui-field-title">
	  <legend><a class="go_list" href="javascript:;">审核列表<a> / <small>查看</small></legend>
	</fieldset>

	<!-- 提现记录 -->
	<div class="opration_log">
		<div class="opration_log_title">提现记录：<span class="total_right">提币总量：2.3456789BTC</span></div>
		<table class="layui-table">
		  <colgroup>
		    <col width="70">
		    <col width="100">
		    <col width="150">
		    <col width="170">
		    <col width="170">
		    <col width="170">
		    <col width="170">
		  </colgroup>
		  <!-- 序号 提现 金额 IP地址 提现时间 操作 状态 -->
		  <thead>
		    <tr>
		      <th>序号</th>
		      <th>提现</th>
		      <th>金额</th>
		      <th>IP地址</th>
		      <th>提现时间</th>
		      <th>操作</th>
		      <th>状态</th>
		    </tr> 
		  </thead>
		  <tbody>
		    <tr>
		      <td>1</td>
		      <td>100BTC</td>
		      <td>123</td>
		      <td>11.22.33.11</td>
		      <td>2018-9-9 11:11:11</td>
		      <td>系统</td>
		      <td>已通过</td>
		    </tr>
		    <tr>
		      <td>2</td>
		      <td>100BTC</td>
		      <td>123</td>
		      <td>11.22.33.11</td>
		      <td>2018-9-9 11:11:11</td>
		      <td>系统</td>
		      <td class="dialog_red">已拒绝</td>
		    </tr>
		  </tbody>
		</table>
	</div>

	<!-- 阈值检测 -->
	<div class="opration_log">
		<div class="opration_log_title">阈值检测：</div>
		<table class="layui-table">
		  <colgroup>
		    <col width="70">
		    <col width="100">
		    <col width="150">
		    <col width="170">
		    <col width="170">
		    <col width="170">
		    <col width="170">
		  </colgroup>
		  <!-- 序号 业务模块 指标 日期 品种 详情 操作 -->
		  <thead>
		    <tr>
		      <th>序号</th>
		      <th>业务模块</th>
		      <th>指标</th>
		      <th>日期</th>
		      <th>品种</th>
		      <th>详情</th>
		      <th>操作</th>
		    </tr> 
		  </thead>
		  <tbody>
		    <tr>
		      <td>1</td>
		      <td>100BTC</td>
		      <td>123</td>
		      <td>2018-9-9 11:11:11</td>
		      <td class="dialog_red">BTCUSDT</td>
		      <td>1000btc</td>
		      <td>
				<a class="go_detail" href="javascript:;" title="查看">查看</a>
		      </td>
		    </tr>
		    <tr>
		      <td>1</td>
		      <td>100BTC</td>
		      <td>123</td>
		      <td>2018-9-9 11:11:11</td>
		      <td class="dialog_red">BTCUSDT</td>
		      <td>1000btc</td>
		      <td>
				<a class="go_detail" href="javascript:;" title="查看">查看</a>
		      </td>
		    </tr>
		  </tbody>
		</table>
		<!-- 加载更多 -->
    	<button class="layui-btn layui-btn-primary load_more">加载更多</button>
	</div>

<script type="text/javascript">
    layui.config({
        base: '../../static/lay/modules/'
    }).extend({
        formSelects: 'formSelects'
    })
    layui.use(['jquery', 'layer', 'element', 'form', 'laydate', 'table', 'laypage', 'formSelects'], function(){
        let $ = layui.$,
            layer = layui.layer,
            element = layui.element,
            form = layui.form,
            laydate = layui.laydate,
            table = layui.table,
            laypage = layui.laypage,
            formSelects = layui.formSelects;


    	let host = 'http://' + window.location.host + '/templates/';


        $(function () {
        	// 查看详情 
        	$(document).on('click', '.go_detail', function(event) {
        		event.preventDefault();
        		window.location.href = host + 'examineDetail.html';
        	});

            // 记载更多
            $(document).on('click', '.load_more', function(event) {
        		event.preventDefault();
        		console.log('记载更多');
        	});
        })
        

    })
</script>
	
</body>
</html>