<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>数据展示</title>
	<script type="text/javascript" src="../static/layui.js"></script>
	<link rel="stylesheet" href="../static/admin.css" media="all">
</head>
<body class="frame_padding">

	<!-- 标题 -->
	<fieldset class="layui-elem-field layui-field-title">
	  <legend>数据展示</legend>
	</fieldset>

	<div class="layui-tab">
		<!-- 一级tab切换 -->
		<ul class="layui-tab-title tab_title">
			<li class="layui-btn layui-btn-primary layui-this tab_data">币币交易</li>
			<li class="layui-btn layui-btn-primary tab_data">数字合约</li>
			<li class="layui-btn layui-btn-primary tab_data">USDT合约</li>
		</ul>

		<iframe id="dataDisplay" src="./dataDisplay/tab_1.html" frameborder="0" width="100%" height="100%"></iframe>

	</div>


<script type="text/javascript">
	layui.config({
		base: '../static/lay/modules/'
	}).extend({
		formSelects: 'formSelects'
	})
	layui.use(['jquery', 'layer', 'element', 'form', 'laydate', 'table', 'laypage', 'formSelects'], function(){
		let $ = layui.$,
			layer = layui.layer,
			element = layui.element,
			form = layui.form,
			laydate = layui.laydate,
			table = layui.table,
			laypage = layui.laypage,
			formSelects = layui.formSelects;

		let $frame = document.getElementsByTagName("iframe")[0];

		$(function () {
			$('.tab_data').on('click', function(event) {
				event.preventDefault();
				let index = $(this).index();
				switch(index) {
					case 0:
						// 币币交易
						$frame.src = './dataDisplay/tab_1.html';
						break;
					case 1:
						// 数字合约
						$frame.src = './dataDisplay/tab_2.html';
						break;
					case 2:
						// USDT合约
						$frame.src = './dataDisplay/tab_3.html';
						break;
				}
			});
		})


	})
</script>


	
</body>
</html>