<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>提币统计</title>
	<script type="text/javascript" src="../static/layui.js"></script>
	<link rel="stylesheet" href="../static/admin.css" media="all">
</head>
<body class="frame_padding">
	<!-- 标题 -->
	<fieldset class="layui-elem-field layui-field-title">
	  <legend>提币统计</legend>
	</fieldset>

	<!-- 搜索条件 -->
	<form class="layui-form layui-form-pane" action="">
		<div class="layui-form-item layui-inline">
			<label class="layui-form-label time">时间</label>
			<div class="layui-input-inline time">
				<select id="time" name="time">
					<option value="">请选择</option>
					<option value="0" selected="">今天</option>
					<option value="1">昨天</option>
					<option value="2">明天</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item layui-inline">
			<div class="layui-input-inline time_range">
				<input type="text" name="date" id="date_range" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item layui-inline">
			<label class="layui-form-label user_id">用户ID</label>
			<div class="layui-input-inline">
				<input type="text" name="name" lay-verify="name" placeholder="用户ID" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item layui-inline">
			<input type="checkbox" checked="" name="open" lay-skin="switch" lay-filter="switchTest" title="隐藏为0的币种">
			<span class="hide_carrucy">隐藏为0的币种</span>
		</div>
		<div class="layui-form-item layui-inline" style="float: right;">
			<button class="layui-btn layui-btn-normal">查询</button>
		</div>
	</form>

	<!-- 总计 -->
	<div class="result-list">
		<ul>
			<li class="layui-text">总计：1203条</li>
		</ul>
	</div>

	<!-- 提币统计列表 -->
	<div class="layui-tab-content">
		<table class="layui-table">
		  <colgroup>
		    <col width="70">
		    <col width="100">
		    <col width="150">
		    <col width="170">
		    <col width="170">
		    <col width="170">
		    <col width="170">
		    <col width="170">
		    <col width="170">
		    <col width="170">
		    <col width="200">
		    <col width="170">
		    <col width="100">
		  </colgroup>
		  <!-- 序号 币种 总申请次数 总申请币量 自动过审次数 自动过审数量 人工审核次数 人工审核数量 未通过次数 未通过审核数量 提币成功总次数 提币成功总量 操作 -->
		  <thead>
		    <tr>
		      <th>序号</th>
		      <th>币种</th>
		      <th>总申请次数</th>
		      <th>总申请币量</th>
		      <th>自动过审次数</th>
		      <th>自动过审数量</th>
		      <th>人工审核次数</th>
		      <th>人工审核数量</th>
		      <th>未通过次数</th>
		      <th>未通过审核数量</th>
		      <th>提币成功总次数</th>
		      <th>提币成功总量</th>
		      <th>操作</th>
		    </tr> 
		  </thead>
		  <tbody>
		    <tr>
		      <td>1</td>
		      <td>USDTBTC</td>
		      <td>123</td>
		      <td>123</td>
		      <td>123</td>
		      <td>234</td>
		      <td>123</td>
		      <td>123</td>
		      <td>123</td>
		      <td>123</td>
		      <td>123</td>
		      <td>123</td>
		      <td>
		      	<a class="opration_look" href="javascript:;" title="">查看</a>
		      </td>
		    </tr>
		    <tr>
		      <td>1</td>
		      <td>USDTBTC</td>
		      <td>123</td>
		      <td>123</td>
		      <td>123</td>
		      <td>234</td>
		      <td>123</td>
		      <td>123</td>
		      <td>123</td>
		      <td>234</td>
		      <td>234</td>
		      <td>234</td>
		      <td>
		      	<a class="opration_look" href="javascript:;" title="">查看</a>
		      </td>
		    </tr>
		  </tbody>
		</table>
	</div>

	<!-- 分页 -->
	<div id="pagation"></div>


	<!-- 详情列表 -->
	<div class="opration_log detail_list" style="display: none;">
		<div class="opration_log_title">详情列表：</div>
		<!-- 总计 -->
		<div class="result-list">
			<ul style="margin-top: 10px;">
				<li class="layui-text">总计：1203条</li>
			</ul>
		</div>
		<div class="layui-tab-content">
			<table class="layui-table">
			  <colgroup>
			    <col width="70">
			    <col width="100">
			    <col width="150">
			    <col width="170">
			    <col width="170">
			    <col width="170">
			    <col width="170">
			    <col width="170">
			    <col width="170">
			    <col width="170">
			  </colgroup>
			  <!-- 序号 用户ID 申请时间 通过时间 提现类型 数量 币种 审核类型 交易异常 到账时间 -->
			  <thead>
			    <tr>
			      <th>序号</th>
			      <th>用户ID</th>
			      <th>申请时间</th>
			      <th>通过时间</th>
			      <th>提现类型</th>
			      <th>数量</th>
			      <th>币种</th>
			      <th>审核类型</th>
			      <th>交易异常</th>
			      <th>到账时间</th>
			    </tr> 
			  </thead>
			  <tbody>
			    <tr>
			      <td>1</td>
			      <td>USDTBTC</td>
			      <td>123</td>
			      <td>123</td>
			      <td>123</td>
			      <td>234</td>
			      <td>123</td>
			      <td>123</td>
			      <td>无</td>
			      <td>123</td>
			    </tr>
			    <tr>
			      <td>1</td>
			      <td>USDTBTC</td>
			      <td>123</td>
			      <td>123</td>
			      <td>123</td>
			      <td>234</td>
			      <td>234</td>
			      <td>123</td>
			      <td>
			      	<a class="opration_look" href="javascript:;" title="">查看</a>
			      </td>
			      <td>123</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>

<script type="text/javascript">
	layui.config({
		base: '../static/lay/modules/'
	}).extend({
		formSelects: 'formSelects'
	})
	layui.use(['jquery', 'layer', 'element', 'form', 'laydate', 'table', 'laypage', 'formSelects'], function(){
		let $ = layui.$,
			layer = layui.layer,
			element = layui.element,
			form = layui.form,
			laydate = layui.laydate,
			table = layui.table,
			laypage = layui.laypage,
			formSelects = layui.formSelects;

		let $frame = document.getElementsByTagName("iframe")[0];

		$(function () {
			// 提币统计-查看详情
			$(document).on('click', '.opration_look', function(event) {
				event.preventDefault();
				$('.detail_list').show();
			});	
		})

	})
</script>
	
</body>
</html>