<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>审核详情</title>
    <script type="text/javascript" src="../static/layui.js"></script>
    <script type="text/javascript" src="../static/admin.js"></script>
    <link rel="stylesheet" href="../static/admin.css" media="all">
</head>

<body>
    <!-- 标题 -->
    <fieldset class="layui-elem-field layui-field-title">
        <legend>审核详情</legend>
    </fieldset>
    <div class="layui-form">
        <div class="layui-form-item dialog_margin_bottom">
            <label class="layui-form-label dialog_label_width">订单ID:</label>
            <div class="layui-form-mid">
                23456
            </div>
        </div>
        <div class="layui-form-item dialog_margin_bottom">
            <div class="layui-inline width_50">
                <label class="layui-form-label dialog_label_width">用户ID:</label>
                <div class="layui-form-mid">
                    23456
                </div>
            </div>
            <div class="layui-inline width_50">
                <label class="layui-form-label dialog_label_width">注册时间:</label>
                <div class="layui-form-mid dialog_red">
                    23456
                </div>
            </div>
        </div>
        <div class="layui-form-item dialog_margin_bottom">
            <div class="layui-inline width_50">
                <label class="layui-form-label dialog_label_width">绑定邮箱:</label>
                <div class="layui-form-mid">
                    762*******@qq.com
                </div>
            </div>
            <div class="layui-inline width_50">
                <label class="layui-form-label dialog_label_width">用户手机号:</label>
                <div class="layui-form-mid">
                    18799994324（中国)
                </div>
            </div>
        </div>
        <div class="layui-form-item dialog_margin_bottom">
            <label class="layui-form-label dialog_label_width">身份证号:</label>
            <div class="layui-form-mid">
                370226********7119（宋凯）
            </div>
        </div>
        <div class="layui-form-item dialog_margin_bottom">
            <div class="layui-inline width_50">
                <label class="layui-form-label dialog_label_width">提现时间:</label>
                <div class="layui-form-mid">
                    2018-09-09 12:12:12
                </div>
            </div>
            <div class="layui-inline width_50">
                <label class="layui-form-label dialog_label_width">提现数量:</label>
                <div class="layui-form-mid">
                    0.5646BTC
                </div>
            </div>
        </div>
        <div class="layui-form-item dialog_margin_bottom">
            <div class="layui-inline width_50">
                <label class="layui-form-label dialog_label_width">提币地址:</label>
                <div class="layui-form-mid">
                    sdfwerdfg564fdg1ert656
                </div>
            </div>
        </div>
        <div class="layui-form-item dialog_margin_bottom">
            <div class="layui-inline width_50">
                <label class="layui-form-label dialog_label_width">提现手续费率:</label>
                <div class="layui-form-mid">
                    0.002
                </div>
            </div>
            <div class="layui-inline width_50">
                <label class="layui-form-label dialog_label_width">实收手续费:</label>
                <div class="layui-form-mid">
                    0.00001BTC
                </div>
            </div>
        </div>
        <div class="layui-form-item dialog_margin_bottom">
            <label class="layui-form-label dialog_label_width dialog_blod">敏感操作:</label>
            <div class="layui-form-mid dialog_red">
                24小时内进行过【修改谷歌密钥】操作；
            </div>
        </div>
        <div class="layui-form-item dialog_margin_bottom">
            <label class="layui-form-label dialog_label_width"></label>
            <div class="layui-form-mid dialog_red">
                24小时内进行过【修改交易密码】操作；
            </div>
        </div>
        <div class="layui-form-item dialog_margin_bottom">
            <label class="layui-form-label dialog_label_width"></label>
            <div class="layui-form-mid dialog_red">
                24小时内进行过【修改邮箱】操作。
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label dialog_label_width dialog_blod">灰名单:</label>
            <div class="layui-form-mid">
                无   <span class="dialog_red">(有    2018-09-01  12:30:10 ）</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label dialog_label_width dialog_blod">数额检测:</label>
            <div class="layui-form-mid">
                正常 <span class="dialog_red">（0.9BTC数额过大）</span>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label dialog_label_width">备注:</label>
            <div class="layui-input-block dialog_margin_left">
                <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item layui-form-text" style="text-align: center;margin-top: 30px;">
            <button class="layui-btn">通过</button>
		    <button class="layui-btn layui-btn-primary">不通过</button>
        </div>
    </div>

    <!-- 操作日志 -->
</body>

</html>