<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>58-ADMIN</title>
	<script type="text/javascript" src="../static/layui.js"></script>
	<script type="text/javascript" src="../static/frame.js"></script>
	<link rel="stylesheet" href="../static/admin.css" media="all">
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<!-- header -->
	  <div class="layui-header">
	    <div class="layui-logo"></div>
	    <ul class="layui-nav layui-layout-right">
	      <li class="layui-nav-item item-user">admin <span>ID : 0001</span></li>
	      <li class="layui-nav-item"><a href="javascript:;">退出</a></li>
	    </ul>
	  </div>
	  <!-- left -->
	  <div class="layui-side layui-bg-black">
	    <div class="layui-side-scroll">
	      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
	        <li class="layui-nav-item layui-nav-itemed">
	          <a class="" href="javascript:;">提币风控</a>
	          <dl class="layui-nav-child item-pages">
	            <dd class="item-page"><a>审核列表</a></dd>
	            <dd class="item-page"><a>阈值设置</a></dd>
	            <dd class="item-page"><a>提币统计</a></dd>
	            <dd class="item-page"><a>数据展示</a></dd>
	          </dl>
	        </li>
	      </ul>
	    </div>
	  </div>
	  <!-- body -->
	  <div class="layui-body">
	    <!-- 内容主体区域 -->
	    <!-- <div id="frame_body" style="padding: 15px;"> -->
		<iframe id="frame_body" src="./welcome.html" frameborder="0" width="100%" height="100%"></iframe>
	    	
	    </div>
	  </div>
	  
	</div>

	<!-- dialog 弹框 -->
	<div class="dialog_modal" style="display: none;">
		<div class="dialog_modal_fix">
			<div class="dialog_modal_container">
				<div class="dialog_modal_header">
					提示信息
					<span class="dialog_modal_close">✕</span>
				</div>
				<div class="dialog_modal_body">
					提示内容提示内容提示内容提示内容提示内容提示内容提示内容提示内容提示内容提示内容
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		layui.config({
			base: '../static/lay/modules/'
		}).extend({
			formSelects: 'formSelects'
		})
		layui.use(['jquery', 'layer', 'element', 'form', 'laydate', 'table', 'laypage', 'formSelects'], function(){
			let $ = layui.$,
				layer = layui.layer,
				element = layui.element,
				form = layui.form,
				laydate = layui.laydate,
				table = layui.table,
				laypage = layui.laypage,
				formSelects = layui.formSelects;
			$(function () {
		        frameHeight('frame_body', 80);
				// 页面跳转
				let $frame = document.getElementsByTagName("iframe")[0];
				$('.item-page').on('click', function(e) {
					e.preventDefault();
					let index = $(this).index();
					window.sessionStorage.clear();
					switch(index) {
						case 0:
							// 审核列表
							$frame.src = './auditList.html';
							break;
						case 1:
							// 阈值设置
							$frame.src = './thresholdSetting.html';
							break;
						case 2:
							// 提币统计
							$frame.src = './drawingCurrency.html';
							break;
						case 3:
							// 数据展示
							$frame.src = './dataDisplay.html';
							break;
					}
				});

				// 关闭弹框提示
				$('.dialog_modal_close').on('click', function(event) {
					event.preventDefault();
					$('.dialog_modal').css('display', 'none');
				});
			})
		})
	</script>
</body>
</html>