<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>阈值设置</title>
	<script type="text/javascript" src="../static/layui.js"></script>
	<link rel="stylesheet" href="../static/admin.css" media="all">
</head>
<body class="frame_padding">
	<!-- 标题 -->
	<fieldset class="layui-elem-field layui-field-title">
	  <legend>阈值设置</legend>
	</fieldset>

	<div class="layui-tab">
		<!-- tab 切换 -->
		<ul class="layui-tab-title tab_title">
			<li class="layui-btn layui-btn-primary layui-this set_type">币币</li>
			<li class="layui-btn layui-btn-primary set_type">数字合约</li>
			<li class="layui-btn layui-btn-primary set_type">USDT合约</li>
			<li class="layui-btn layui-btn-primary set_type">提币限额</li>
		</ul>

		<button class="layui-btn btn_add_set" data-type="0">新增设置</button>

		<iframe id="thresholdSetting" src="./thresholdSetting/tab1.html" frameborder="0" width="100%" height="100%"></iframe>

		<!-- 显示结果 -->
		<!-- <div class="result-list tab_result">
			<ul>
				<li class="layui-text">今日申请：1000条</li>
				<li class="layui-text">今日自动提币已通过：600条</li>
				<li class="layui-text">历史申请：1000条</li>
				<li class="layui-text">历史自动提币已通过：600条</li>
				<li class="layui-text">累计收益率：90%</li>
				<li class="layui-text">累计收益量：100BTC</li>
			</ul>
		</div> -->
		<div class="layui-tab-content">
			<!-- 币币 -->
			<!-- <div class="layui-tab-item layui-show">
				<table class="layui-table">
				  <thead>
				    <tr>
				      <th>序号</th>
				      <th>币对</th>
				      <th>单日成交量</th>
				      <th>单日成交次数</th>
				      <th>单日下单次数</th>
				      <th>下单时间间隔</th>
				      <th>当前状态</th>
				      <th>设置人</th>
				      <th>设置时间</th>
				      <th>操作</th>
				    </tr> 
				  </thead>
				  <tbody>
				    <tr>
				      <td>1</td>
				      <td>USDTBTC</td>
				      <td>123</td>
				      <td>123</td>
				      <td>123</td>
				      <td>234</td>
				      <td>关闭</td>
				      <td>某某某</td>
				      <td>2018-09-12 10:10:18</td>
				      <td>
				      	<a class="opration_open" href="javascript:;" title="">启用</a>
				      	<a class="opration_edit" href="javascript:;" title="">修改</a>
				      	<a class="opration_delete" href="javascript:;" title="">删除</a>
				      </td>
				    </tr>
				    <tr>
				      <td>1</td>
				      <td>USDTBTC</td>
				      <td>123</td>
				      <td>123</td>
				      <td>123</td>
				      <td>234</td>
				      <td>关闭</td>
				      <td>某某某</td>
				      <td>2018-09-12 10:10:18</td>
				      <td>
				      	<a class="opration_copy" href="javascript:;" title="">复制上一条</a>
				      </td>
				    </tr>
				  </tbody>
				</table>
			</div> -->

			<!-- 数字合约 -->
			<!-- <div class="layui-tab-item">
				<table class="layui-table">
				  <thead>
				    <tr>
				      <th>序号</th>
				      <th>币对</th>
				      <th>单日成交量</th>
				      <th>单日成交次数</th>
				      <th>单日下单次数</th>
				      <th>累计收益率</th>
				      <th>累计收益量</th>
				      <th>单笔收益率</th>
				      <th class="dialog_red">下单时间间隔</th>
				      <th>指数偏差率</th>
				      <th>当前状态</th>
				      <th>设置人</th>
				      <th>设置时间</th>
				      <th>操作</th>
				    </tr> 
				  </thead>
				  <tbody>
				    <tr>
				      <td>1</td>
				      <td>USDTBTC</td>
				      <td>123</td>
				      <td>123</td>
				      <td>123</td>
				      <td>234</td>
				      <td>123</td>
				      <td>123</td>
				      <td class="dialog_red">123</td>
				      <td>234</td>
				      <td>关闭</td>
				      <td>某某某</td>
				      <td>2018-09-12 10:10:18</td>
				      <td>
				      	<a class="opration_open" href="javascript:;" title="">启用</a>
				      	<a class="opration_edit" href="javascript:;" title="">修改</a>
				      	<a class="opration_delete" href="javascript:;" title="">删除</a>
				      </td>
				    </tr>
				    <tr>
				      <td>1</td>
				      <td>USDTBTC</td>
				      <td>123</td>
				      <td>123</td>
				      <td>123</td>
				      <td>234</td>
				      <td>123</td>
				      <td>123</td>
				      <td class="dialog_red">123</td>
				      <td>234</td>
				      <td>关闭</td>
				      <td>某某某</td>
				      <td>2018-09-12 10:10:18</td>
				      <td>
				      	<a class="opration_copy" href="javascript:;" title="">复制上一条</a>
				      </td>
				    </tr>
				  </tbody>
				</table>
			</div> -->

			<!-- USDT合约 -->
			<!-- <div class="layui-tab-item">
				<table class="layui-table">
				  <thead>
				    <tr>
				      <th>序号</th>
				      <th>币对</th>
				      <th>单日成交量</th>
				      <th>单日成交次数</th>
				      <th>单日下单次数</th>
				      <th>累计收益率</th>
				      <th>累计收益量</th>
				      <th>单笔收益率</th>
				      <th class="dialog_red">下单时间间隔</th>
				      <th>指数偏差率</th>
				      <th>当前状态</th>
				      <th>设置人</th>
				      <th>设置时间</th>
				      <th>操作</th>
				    </tr> 
				  </thead>
				  <tbody>
				    <tr>
				      <td>1</td>
				      <td>USDTBTC</td>
				      <td>123</td>
				      <td>123</td>
				      <td>123</td>
				      <td>234</td>
				      <td>123</td>
				      <td>123</td>
				      <td class="dialog_red">123</td>
				      <td>234</td>
				      <td>关闭</td>
				      <td>某某某</td>
				      <td>2018-09-12 10:10:18</td>
				      <td>
				      	<a class="opration_open" href="javascript:;" title="">启用</a>
				      	<a class="opration_edit" href="javascript:;" title="">修改</a>
				      	<a class="opration_delete" href="javascript:;" title="">删除</a>
				      </td>
				    </tr>
				    <tr>
				      <td>1</td>
				      <td>USDTBTC</td>
				      <td>123</td>
				      <td>123</td>
				      <td>123</td>
				      <td>234</td>
				      <td>123</td>
				      <td>123</td>
				      <td class="dialog_red">123</td>
				      <td>234</td>
				      <td>关闭</td>
				      <td>某某某</td>
				      <td>2018-09-12 10:10:18</td>
				      <td>
				      	<a class="opration_copy" href="javascript:;" title="">复制上一条</a>
				      </td>
				    </tr>
				  </tbody>
				</table>
			</div> -->

			<!-- 提币限额 -->
			<!-- <div class="layui-tab-item">
				<table class="layui-table">
				  <thead>
				    <tr>
				      <th>序号</th>
				      <th>币对</th>
				      <th>提现单次限额</th>
				      <th>提现单日限额</th>
				      <th>OTC转账单次限额</th>
				      <th>OTC转账单日限额</th>
				      <th>当前状态</th>
				      <th>设置人</th>
				      <th>设置时间</th>
				      <th>操作</th>
				    </tr> 
				  </thead>
				  <tbody>
				    <tr>
				      <td>1</td>
				      <td>USDTBTC</td>
				      <td>123</td>
				      <td>123</td>
				      <td>123</td>
				      <td>234</td>
				      <td>关闭</td>
				      <td>某某某</td>
				      <td>2018-09-12 10:10:18</td>
				      <td>
				      	<a class="opration_open" href="javascript:;" title="">启用</a>
				      	<a class="opration_edit" href="javascript:;" title="">修改</a>
				      	<a class="opration_delete" href="javascript:;" title="">删除</a>
				      </td>
				    </tr>
				    <tr>
				      <td>1</td>
				      <td>USDTBTC</td>
				      <td>123</td>
				      <td>123</td>
				      <td>123</td>
				      <td>234</td>
				      <td>关闭</td>
				      <td>某某某</td>
				      <td>2018-09-12 10:10:18</td>
				      <td>
				      	<a class="opration_copy" href="javascript:;" title="">复制上一条</a>
				      </td>
				    </tr>
				  </tbody>
				</table>
			</div> -->
		</div>

		<!-- 分页 -->
		<!-- <div id="pagation"></div> -->

		<!-- 操作日志 -->
		<!-- <div class="opration_log">
			<div class="opration_log_title">操作日志：</div>
			<div class="opration_log_list">
				<ul>
					<li>2018-09-12 10:10:18      操作人：*****     操作内容：“参数设置”币种选择（全部）、业务模块（全部）、指数偏差（1%）、累计收益率（10%）、单笔收益率（90%）、单日成交次数（20次）。</li>
					<li>2018-09-12 10:10:18      操作人：*****     操作内容：“参数设置”币种选择（全部）、业务模块（全部）、指数偏差（1%）、累计收益率（10%）、单笔收益率（90%）、单日成交次数（20次）。</li>
					<li>2018-09-12 10:10:18      操作人：*****     操作内容：“参数设置”币种选择（全部）、业务模块（全部）、指数偏差（1%）、累计收益率（10%）、单笔收益率（90%）、单日成交次数（20次）。</li>
				</ul>
			</div>
		</div> -->

	</div>

	<!-- 新增/编辑币币弹框 -->
	<!-- <div class="dialog_modal">
		<div class="dialog_modal_fix">
			<div class="dialog_modal_container">
				<div class="dialog_modal_header">
					<span>币币-新增</span>
					<span class="dialog_modal_close dialog_btn_close">✕</span>
				</div>
				<div class="dialog_modal_body">
					<div class="layui-form">
						<div class="layui-form-item">
							<div class="layui-inline">
								<label class="layui-form-label">币对选择：</label>
								<div class="layui-input-inline">
									<select xm-select="select_more" name="carrucy">
										<option value="">全部</option>
										<option value="0">BTC</option>
										<option value="1">ETH</option>
										<option value="2">EOS</option>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-label">单日成交次数：</label>
								<div class="layui-input-inline">
									<input type="text" name="number" autocomplete="off" class="layui-input">
									<span class="bot">次</span>
								</div>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-inline">
								<label class="layui-form-label">单日成交量：</label>
								<div class="layui-input-inline">
									<input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
									<span class="bot">BTC</span>
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-label">单日下单次数：</label>
								<div class="layui-input-inline">
									<input type="text" name="number" autocomplete="off" class="layui-input">
									<span class="bot">次</span>
								</div>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-inline">
								<label class="layui-form-label">下单时间间隔：</label>
								<div class="layui-input-inline">
									<input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
									<span class="bot">S</span>
								</div>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-inline">
								<label class="layui-form-label">累计收益率：</label>
								<div class="layui-input-inline">
									<input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
									<span class="bot">%</span>
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-label">累计收益量：</label>
								<div class="layui-input-inline">
									<input type="text" name="number" autocomplete="off" class="layui-input">
									<span class="bot">BTC</span>
								</div>
							</div>
						</div>
					</div>
					<div class="dialog_modal_notice">
						注：该设置生效后，范围内的用户将自动提币
					</div>	
				</div>
				<div class="dialog_modal_footer">
					<button class="layui-btn dialog_btn_close">确定</button>
				    <button class="layui-btn layui-btn-primary dialog_btn_close">取消</button>
				</div>
			</div>
		</div>
	</div> -->

<script type="text/javascript">
	layui.config({
		base: '../static/lay/modules/'
	}).extend({
		formSelects: 'formSelects'
	})
	layui.use(['jquery', 'layer', 'element', 'form', 'laydate', 'table', 'laypage', 'formSelects'], function(){
		let $ = layui.$,
			layer = layui.layer,
			element = layui.element,
			form = layui.form,
			laydate = layui.laydate,
			table = layui.table,
			laypage = layui.laypage,
			formSelects = layui.formSelects;

		let $frame = document.getElementsByTagName("iframe")[0];

		$(function () {
				// tab切换
				$('.set_type').on('click', function(e) {
					e.preventDefault();
					let index = $(this).index();
					$('.btn_add_set').data('type', index);
					switch(index) {
						case 0:
							// 币币
							$frame.src = './thresholdSetting/tab1.html';
							break;
						case 1:
							// 数字合约
							$frame.src = './thresholdSetting/tab2.html';
							break;
						case 2:
							// USDT合约
							$frame.src = './thresholdSetting/tab3.html';
							break;
						case 3:
							// 提币限额
							$frame.src = './thresholdSetting/tab4.html';
							break;
					}
				});
				// 新增设置
				$('.btn_add_set').on('click', function(event) {
					event.preventDefault();
					let index = $('.btn_add_set').data('type');
					$frame.src = './thresholdSetting/add_set.html?type=' + index;
				});
			})

	})
</script>

</body>
</html>