<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>阈值设置</title>
	<script type="text/javascript" src="../static/layui.js"></script>
	<link rel="stylesheet" href="../static/admin.css" media="all">
</head>
<body class="frame_padding">
	<!-- 标题 -->
	<fieldset class="layui-elem-field layui-field-title">
	  <legend>阈值设置</legend>
	</fieldset>

	<div class="layui-tab layui-form">
		<!-- tab 切换 -->
		<ul class="layui-tab-title tab_title">
			<li class="layui-btn layui-btn-primary layui-this set_type">币币</li>
			<li class="layui-btn layui-btn-primary set_type">数字合约</li>
			<li class="layui-btn layui-btn-primary set_type">USDT合约</li>
			<li class="layui-btn layui-btn-primary set_type">提币限额</li>
			<span style="display: inline-block;font-size: 14px;color: #333;vertical-align: middle;">
			    <label class="layui-form-label">自动提币</label>
				<div class="layui-input-block">
					<!-- 选中状态添加  checked -->
				    <input type="checkbox" name="close" lay-skin="switch" lay-filter="switch" lay-text="开|关">
				</div>
			</span>
		</ul>

		<button class="layui-btn btn_add_set" data-type="0">新增设置</button>

		<iframe id="thresholdSetting" src="./thresholdSetting/tab1.html" frameborder="0" width="100%" height="100%"></iframe>

	</div>

<script type="text/javascript">
	layui.config({
		base: '../static/lay/modules/'
	}).extend({
		formSelects: 'formSelects'
	})
	layui.use(['jquery', 'layer', 'element', 'form', 'laydate', 'table', 'laypage', 'formSelects'], function(){
		let $ = layui.$,
			layer = layui.layer,
			element = layui.element,
			form = layui.form,
			laydate = layui.laydate,
			table = layui.table,
			laypage = layui.laypage,
			formSelects = layui.formSelects;

		let $frame = document.getElementsByTagName("iframe")[0];

		$(function () {
				// tab切换
				$('.set_type').on('click', function(e) {
					e.preventDefault();
					let index = $(this).index();
					$('.btn_add_set').data('type', index);
					switch(index) {
						case 0:
							// 币币
							$frame.src = './thresholdSetting/tab1.html';
							break;
						case 1:
							// 数字合约
							$frame.src = './thresholdSetting/tab2.html';
							break;
						case 2:
							// USDT合约
							$frame.src = './thresholdSetting/tab3.html';
							break;
						case 3:
							// 提币限额
							$frame.src = './thresholdSetting/tab4.html';
							break;
					}
				});
				// 新增设置
				$('.btn_add_set').on('click', function(event) {
					event.preventDefault();
					let index = $('.btn_add_set').data('type');
					$frame.src = './thresholdSetting/add_set.html?type=' + index;
				});
				// 自动提币
				form.on('switch(switch)', function (data) {
					console.log(data.elem.checked);
					$(data.othis).removeClass('layui-form-onswitch').find("em").text("关");
				})
			})

	})
</script>

</body>
</html>