<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>提币限额参数设置</title>
	<script type="text/javascript" src="../../static/layui.js"></script>
	<link rel="stylesheet" href="../../static/admin.css" media="all">
</head>
<body>
	<!-- 新增/编辑币币弹框 -->
	<div class="dialog_modal_body add_set" style="margin-top: 0px;">
		<div class="layui-form">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label add_set_4">币对选择：</label>
					<div class="layui-input-inline add_set_4">
						<select xm-select="select_more" name="carrucy">
							<option value="">全部</option>
							<option value="0">BTC</option>
							<option value="1">ETH</option>
							<option value="2">EOS</option>
						</select>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label add_set_4">提现单次限额：</label>
					<div class="layui-input-inline add_set_4">
						<input type="text" name="number" autocomplete="off" class="layui-input">
						<span class="bot">BTC</span>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label add_set_4">提现单日限额：</label>
					<div class="layui-input-inline add_set_4">
						<input type="text" name="number" autocomplete="off" class="layui-input">
						<span class="bot">BTC</span>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label add_set_4">OTC转账单次限额：</label>
					<div class="layui-input-inline add_set_4">
						<input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
						<span class="bot">BTC</span>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label add_set_4">OTC转账单日限额：</label>
					<div class="layui-input-inline add_set_4">
						<input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
						<span class="bot">BTC</span>
					</div>
				</div>
			</div>
		</div>
		<div class="dialog_modal_notice">
			注：该设置生效后，范围内的用户将自动提币
		</div>	
	</div>
	<div class="dialog_modal_footer">
		<button class="layui-btn dialog_btn_promit">确定</button>
	    <button class="layui-btn layui-btn-primary dialog_btn_close">取消</button>
	</div>


<script type="text/javascript">
	layui.config({
		base: '../../static/lay/modules/'
	}).extend({
		formSelects: 'formSelects'
	})
	layui.use(['jquery', 'layer', 'element', 'form', 'laydate', 'table', 'laypage', 'formSelects'], function(){
		let $ = layui.$,
			layer = layui.layer,
			element = layui.element,
			form = layui.form,
			laydate = layui.laydate,
			table = layui.table,
			laypage = layui.laypage,
			formSelects = layui.formSelects;

		// 多选
		formSelects.render('select_more');
		formSelects.btns('select_more', []);

		$(function () {
			// type为类型，0，1，2，3 对应的是四个tab页签
			let type = parent.document.getElementById("addSet").contentWindow.location.search.split('=')[1];
			// 确定
			$('.dialog_btn_promit').on('click', function(event) {
				event.preventDefault();
				console.log('确定', type);
			});

			// 取消
			$('.dialog_btn_close').on('click', function(event) {
				event.preventDefault();
				console.log('取消', type);
			});


		})

	})
</script>


</body>
</html>