<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>新增设置</title>
	<script type="text/javascript" src="../../static/layui.js"></script>
	<link rel="stylesheet" href="../../static/admin.css" media="all">
</head>
<body>

	<iframe id="addSet" src="" frameborder="0" width="100%" height="100%"></iframe>
	

<script type="text/javascript">
	layui.config({
		base: '../../static/lay/modules/'
	}).extend({
		formSelects: 'formSelects'
	})
	layui.use(['jquery', 'layer', 'element', 'form', 'laydate', 'table', 'laypage', 'formSelects'], function(){
		let $ = layui.$,
			layer = layui.layer,
			element = layui.element,
			form = layui.form,
			laydate = layui.laydate,
			table = layui.table,
			laypage = layui.laypage,
			formSelects = layui.formSelects;

		let $frame = document.getElementsByTagName("iframe")[0];
		let type = parent.document.getElementById("thresholdSetting").contentWindow.location.search.split('=')[1];

		$(function () {
			// 判断加载哪个form表单
			let index = Number(type) + 1;
			let url = '../addSet/add_set_' + index + '.html?type=' + type;
			$frame.src = url;
		})

	})
</script>

</body>
</html>